<div class="col-md-3 col-sm-4 my-4">
    <a href="/product/1">
        <div class="product">
            <img class="zoom w-100 mb-4"
                 src="https://cdn01.dienmaycholon.vn/filewebdmclnew/DMCL21/Picture//Apro/Apro_product_28934/iphone-13-128gb_main_871_1020.png.webp"
                 alt="">
            <div class="fs-5 fw-bold">iPhone 13 Lock 64GB, hồng</div>
            <button class="btn btn-sm btn-light rounded-pill d-flex align-items-center my-3">
                Apple
                <img class="logo ms-2"
                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Apple-logo.png/640px-Apple-logo.png"
                     alt="">
            </button>
            <p class="text-gray limit-3-line my-4" data-bs-toggle="tooltip"
               title="Nâng cấp thiết kế tạo nên xu hướng mới · Trang bị màn hình ProMotion OLED 120Hz · Camera được hoàn thiện, đem lại trải nghiệm tốt nhất · Chip Apple A15 Bionic giúp">
                Nâng cấp thiết kế tạo nên xu hướng mới · Trang bị màn hình ProMotion OLED 120Hz · Camera được hoàn thiện, đem lại trải nghiệm tốt nhất · Chip Apple A15 Bionic giúp
            </p>
            <div class="my-2">
                <del>
                    24.990.000đ <span>đ</span>
                </del>
                <span class="badge bg-danger fw-normal ms-2">Giảm 5%</span>
            </div>
            <button type="button" class="btn btn-price w-100 text-white mt-2">
                <i class="fa-solid fa-cart-shopping me-2"></i>
                <span>24.190.000đ đ</span>
            </button>
        </div>
    </a>
</div>
