<div class="col-md-3 col-sm-4 my-4">
    <a href="/product/1">
        <div class="product">
            <div class="d-flex">
                <img style="width: 100px !important;" class="zoom w-100 mb-4"
                     src="https://cdn01.dienmaycholon.vn/filewebdmclnew/DMCL21/Picture//Apro/Apro_product_28934/iphone-13-128gb_main_871_1020.png.webp"
                     alt="">
                <div>
                    <div class="fw-bold lh-sm">iPhone 13 Lock 64GB, hồng</div>
                    <button class="btn btn-sm btn-light rounded-pill d-flex align-items-center my-3">
                        Apple
                        <img class="logo ms-2"
                             src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Apple-logo.png/640px-Apple-logo.png"
                             alt="">
                    </button>
                </div>
            </div>
            <p style="line-height: 1" class="text-gray limit-3-line my-2" data-bs-toggle="tooltip"
               title="Nâng cấp thiết kế tạo nên xu hướng mới · Trang bị màn hình ProMotion OLED 120Hz · Camera được hoàn thiện, đem lại trải nghiệm tốt nhất · Chip Apple A15 Bionic giúp">
               <small class="lh-sm">
                   Nâng cấp thiết kế tạo nên xu hướng mới · Trang bị màn hình ProMotion OLED 120Hz · Camera được hoàn thiện, đem lại trải nghiệm tốt nhất · Chip Apple A15 Bionic giúp
               </small>
            <div class="my-2">
                <small>
                    <del>
                        24.990.000đ <span>đ</span>
                    </del>
                    <span class="badge bg-danger fw-normal ms-2">Giảm 5%</span>
                </small>
            </div>
            <div class="float-end mt-2">
                <button class="btn btn-sm bg-warning text-white">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button onclick="confirmDelete(undefined, function (){product.remove(this)})" class="btn btn-sm bg-danger text-white">
                    <i class="fa-regular fa-trash-can"></i>
                </button>
            </div>
        </div>
    </a>
</div>
